@font-face {
    font-family: "Noto Color Emoji";
    src: require("./NotoColorEmoji.ttf");
}
pre {
    background: none !important;
    padding: 0em !important;
}
code {
    /* Keep synchronized with myTheme.js */
    font-family: 'Fira Mono', monospace !important;
}
